<article class="section-left-img-right-shopping sp-section-left-img-right-shopping-background-override  sp-background-override">
	<style>
		.sp-section-left-img-right-shopping-background-override
		{
			background: url({{backgroundUrl}}) !important;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<div class="section-inner">

		<div class="right">

			<img class="logo" src="{{logoImage}}"/>

			<h1 class="title {{title.colourClass}}">
				{{title.text}}
			</h1>

			{{#if dateTime.text}}
				<h2 class="date-time {{dateTime.colourClass}}">
					{{dateTime.text}}
				</h2>
			{{/if}}

			{{#if date.text}}
				<h2 class="date {{date.colourClass}}">
					{{date.text}}
				</h2>
			{{/if}}

			{{#if time.text}}
				<h2 class="time {{time.colourClass}}">
					{{time.text}}
				</h2>
			{{/if}}

		</div>

		<div class="left">

			<picture class="section-image">
				<source srcset="{{leftImage}}" media="(min-width: 600px)">
				<img src="{{leftImage}}" alt="">
			</picture>

		</div>


	</div>

</article>