<!DOCTYPE html>
<html class="book-loaded demi-loaded heavy-loaded">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--<script type="text/javascript" src="https://www.myunidays.com/056a030edf13c1082ffa7d10f8798854.js" defer></script>-->
  <link rel="stylesheet" type="text/css" href="../_assets/79da8f8b6b02bac6438171ca7d2615ea.css"/>
  <!-- NEEDS TO BE INCLUDED FOR FONTS TO WORK -->
  <link rel="stylesheet" type="text/css" href="../_assets/fonts.css"/>
  <!-- YOUR PAGE STYLES GO HERE -->
  <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
  <link rel="preconnect" href="https://assets1.unidays.world">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon-128x128.png" sizes="128x128">
    <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/unidays_pinned_icon.svg" color="#1DD577">
    <meta name="msapplication-TileColor" content="#1DD577">
    <meta name="msapplication-TileImage" content="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://s3-eu-west-1.amazonaws.com/images-dev.myunidays.com/favicons/set-a/mstile-310x310.png">
    <meta name="apple-itunes-app" content="app-id=599608562">
    <meta name="pinterest" content="nopin">
    <meta name="description" content=" " />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <title>AU BTS Splash</title>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body ontouchstart="">
<main>
<section id="Page_Splash_">
<!-- *********** PAGE START ********** -->

	<style>
		.sp-colour-override-primary
		{
			color: {{colours.primary}} !important;
		}
		.sp-colour-override-secondary
		{
			color: {{colours.secondary}} !important;
		}
		.sp-bg-colour-override-primary
		{
			background-color: {{colours.primary}} !important;
		}
		.sp-bg-colour-override-secondary
		{
			background-color: {{colours.secondary}} !important;
		}
		.sp-background-override
		{
			background: url('{{backgroundUrl}}') !important;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<section class="shopping-center-splash">


		<article class="section1 sp-background-override">

			<div class="section-inner">

				<img class="logo" />

				<h1 class="title {{content.section1.title.colourClass}}">
					{{content.section1.title.text}}
				</h1>

				{{#if content.section1.dateTime.text}}
					<h2 class="date-time {{content.section1.dateTime.colourClass}}">
						{{content.section1.dateTime.text}}
					</h2>
				{{/if}}

				{{#if content.section1.date.text}}
					<h2 class="date {{content.section1.date.colourClass}}">
						{{content.section1.date.text}}
					</h2>
				{{/if}}

				{{#if content.section1.time.text}}
					<h2 class="time {{content.section1.time.colourClass}}">
						{{content.section1.time.text}}
					</h2>
				{{/if}}

			</div>

		</article>


		{{> section2 }}

		{{> section3 }}

		{{> section4 }}


	</section>

<!-- *********** PAGE END ************ -->
</section>
</main>

</body>

<!-- SPLASH JS GOES HERE -->
<!--<script type="text/javascript" src="js/app.js"></script>-->
<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/app-local.js"></script>

</html>
